# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# OS files
.DS_Store

# Logs
*.log
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Sensitive
terraform.tfvars
